@import "bourbon", "neat";

// FONTS
$font-regular: 'Proxima N W01 Reg', Helvetica, sans-serif;
$font-semibold: 'Proxima N W01 Smbd', Helvetica, sans-serif;
$font-bold: 'Proxima N W01 Bold', Helvetica, sans-serif;
// font-family:'Proxima N W01 Smbd';
// font-family:'Proxima N W01 Smbd It';
$font-light:'Proxima N W01 Light', Helvetica, sans-serif;
// font-family:'Proxima N W01 Bold';
// font-family:'Proxima N W01 Light It';
// font-family:'Proxima N W01 Bold It';
// font-family:'Proxima N W01 Reg It';
// font-family:'Proxima N W01 Reg';


// COLORS
$white: whitesmoke;
$black: #161616;
$gray: #7d7d7d;
$gray-light: lighten($gray, 15%);
$gray-lighter: lighten($gray, 35%);
$gray-dark: mix($gray, $black, 75%);
$gray-darker: mix($gray, $black, 25%);
$color-primary: $gray;

$action-color: dodgerblue;
$hover-color: tint($action-color, 10%);

// VARIABLES
$base-border-radius: 7px;
$base-font-family: "proxima-nova", sans-serif;
$base-font-size: 19px;

$small-spacing: 10px;
$base-spacing: 24px;
$base-duration: 100ms;
$base-timing: ease-in;

// BUTTONS
#{$all-buttons} {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $font-semibold;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: #{$small-spacing * 2} $base-spacing;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing, transform $base-duration $base-timing, box-shadow $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba($black, 0.3);

  &:hover,
  &:focus {
    background-color: $hover-color;
    color: #fff;
    transform: translateY(-10%);
    box-shadow: 0 8px 14px rgba($black, 0.15);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;

    &:hover {
      background-color: $action-color;
    }
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0px 1px rgba($white, 0.35),
                0 0 6px 3px rgba($action-color, 0.65),
                0 8px 14px rgba($black, 0.25);
  }
}

body {
  font-family: $font-regular;
  font-size: 17px;
  line-height: 1.4;
  min-height: calc(100vh - 50px);
  color: $black;
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }
}

h1 {
  font-family: $font-bold;
  font-size: 27px;
  margin-bottom: 0;
}

h2 {
  color: $gray-darker;
  font-size: 27px;
  font-family: $font-bold;
  text-align: center;

  @media only screen and (max-width: 700px) {
    font-size: 23px;
  }
}

h3 {
  color: $gray-darker;
  font-size: 19px;
  font-family: $font-bold;
  text-align: center;
}

p {
  width: 100%;
  font-size: 19px;
  text-align: center;
  color: $gray-dark;

  &.intro {
    width: auto;
    font-size: 19px;
  }
}

a,
a:visited {
  text-decoration: none;
  color: $gray-dark;

  &[href] {
    border-bottom: 1px solid $gray;
  }

  &:hover,
  &:active {
    color: $gray;

    &[href] {
      border-bottom: 1px solid $gray-light;
    }
  }
}

strong {
  font-family: $font-bold;
}

.site-header {
  a,
  a:visited {
    color: $white;
    border-bottom: 1px solid $gray-light;

    &:hover,
    &:active {
      color: #fff;
      border-bottom: 1px solid $white;
    }
  }
}

.site-header-inner {
  box-sizing: border-box;
  width: 100%;
  height: 27vw;
  min-height: 324px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 25px;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  p {
    color: $white;
  }
}

.site-header-background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 42vw;
  min-height: 502px;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;

  img {
    position: absolute;
    width: 100%;
    min-width: 1200px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    @media only screen and (max-width: 700px) {
      top: -8%;
      transform: translateX(-30%);
    }
  }
}

.logo {
  width: 33vw;
  min-width: 280px;
  max-width: 580px;

  svg {
    // max-width: 300px;
    width: 100%;

    #Icon {
      fill: $white;
    }

    #Prota {
      fill: $white;
    }

    #Studios {
      fill: $white;
    }
  }

  span {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}

.site-container {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  padding-left: $base-spacing;
  padding-right: $base-spacing;
}

section {
  margin: 90px auto;
  max-width: 500px;
  width: 100%;
}

.slider-wrapper {
  position: relative;

  span {
    display: block;
    position: absolute;
    top: -3px;
    width: 200px;
    color: $gray-light;

    @media only screen and (max-width: 920px) {
      top: 22px;
    }

    &.label1 {
      left: -200px;
      text-align: right;
      padding-right: $base-spacing;

      @media only screen and (max-width: 920px) {
        left: 0;
        text-align: left;
      }
    }

    &.label2 {
      right: -200px;
      text-align: left;
      padding-left: $base-spacing;

      @media only screen and (max-width: 920px) {
        right: 0;
        text-align: right;
      }
    }
  }

  .slider {
    // display: inline-block;
  }
}

.tooltip {
  position: absolute;
  padding: #{$small-spacing / 2} $small-spacing;
  background: $black;
  color: $white;
  font-size: 14px;
  top: 44px;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  cursor: default;
  pointer-events: none;

  &:before {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
    content: '';
    width: 0px;
    height: 10px;
    border-bottom: 10px solid $black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}

.slider-wrapper {
  min-height: 60px;
}

.slider.ui-slider {
  .ui-slider-handle {
    top: -13px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background: linear-gradient(to bottom, $hover-color, $action-color);
    border: none;
    box-shadow: 0 4px 10px rgba($black, 0.25);
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &.ui-widget.ui-widget-content {
    top: 7px;
    height: 4px;
    background: $gray-light;
    border: 0;
  }
}

input[type='text'] {
  font-size: 17px;
  line-height: #{19 * 1.5}px;
  max-width: 400px;
  width: 100%;
  text-align:center;
  color: $gray-darker;
  border: 1px solid $gray-lighter;
  padding: #{$small-spacing / 2} $small-spacing;

  &::-webkit-input-placeholder { color: $gray-light; }
  &::-moz-placeholder { color: $gray-light; }
  &:-ms-input-placeholder { color: $gray-light; }
  &:-moz-placeholder { color: $gray-light; }
}

textarea {
  font-size: 17px;
  line-height: #{19 * 1.5}px;
  max-width: 400px;
  width: 100%;
  border: 1px solid $gray-lighter;
  padding: #{$small-spacing / 2} $small-spacing;
}

.section-services {
  max-width: 1200px;

  ul {
    list-style: none;
    padding: 0;
    columns: 3;
    color: $gray-dark;

    @media only screen and (max-width: 920px) {
      columns: 2;
    }

    @media only screen and (max-width: 500px) {
      columns: 1;
    }

    li {
      text-align: center;
      margin-bottom: #{$small-spacing * 1.5};
    }
  }
}

footer {
  display: block;
  width: 100%;
  max-width: 700px;
  height: 50px;
  margin: 0;
  font-size: 13px;
  text-align: center;
  opacity: 0.65;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  p {
    font-size: 15px;
    text-align: center;
    margin: 15px auto;
  }
}
