@import "bourbon", "neat";

// COLORS
$white: whitesmoke;
$black: #161616;
$gray: #7d7d7d;
$gray-light: lighten($gray, 15%);
$gray-lighter: lighten($gray, 35%);
$gray-dark: mix($gray, $black, 75%);
$gray-darker: mix($gray, $black, 25%);
$color-primary: $gray;

body {
  font-family: "proxima-nova", sans-serif;
  font-size: 17px;
  line-height: 1.4;
  min-height: calc(100vh - 50px);
  color: $black;
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 0;
}

p {
  width: 100%;
  font-weight: 300;
  text-align: center;
  color: $gray-lighter;

  &.intro {
    width: auto;
    font-size: 19px;
    font-weight: 400;
  }
}

a,
a:visited {
  font-weight: 400;
  color: $gray-lighter;
  text-decoration: none;
  border-bottom: 1px solid $gray-light;

  &:hover,
  &:active {
    color: #fff;
    border-bottom: 1px solid $white;
  }
}

strong {
  font-weight: 700;
}

.site-header-inner {
  box-sizing: border-box;
  width: 100%;
  height: 27vw;
  min-height: 324px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 25px;
}

.site-header-background {
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;

  img {
    position: absolute;
    width: 100%;
    min-width: 1200px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}

.logo {
  width: 33vw;
  min-width: 280px;
  max-width: 580px;

  svg {
    // max-width: 300px;
    width: 100%;

    #Icon {
      fill: $white;
    }

    #Prota {
      fill: $white;
    }

    #Studios {
      fill: $white;
    }
  }

  span {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}

footer {
  display: block;
  width: 100%;
  max-width: 700px;
  height: 50px;
  margin: 0;
  font-size: 13px;
  text-align: center;
  opacity: 0.65;

  p {
    text-align: center;
    margin: 15px auto;
  }
}
